.cv-info th{
    text-align: start;
    vertical-align: top;
}

.education, .experience, .language-skills {
    border-top: 2px solid #A1A1A1;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.columns {
    display: flex;
    justify-content:space-between;
    margin: 10px;
    padding-left: 20px;
    border-left: 2px solid #A1A1A1;
}

.columns h5 {
    margin-top: 0;
    font-style: italic;
    font-size: 20px;
    color: #464646
}

.title {
    flex-basis: 35%;
    font-size: 30px;
}
  
.info {
    flex-basis: 80%;
}
  