.personal-info {
    height: 250px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.personal-info-left, .personal-info-photo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.personal-info-left h1 {
    font-size: 35px;
    margin-bottom: 0;
}

.personal-info-right {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.personal-info-right ul {
    list-style-type: none;
}

.text-to-end {
    text-align: end;
}